/* line 1, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides {
  font-family: 'europebold';
  vertical-align: top;
  width: calc(100% - 20px);
  margin-left: 10px;
}
/* line 6, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul {
  width: 100%;
  margin-top: 0;
}
/* line 9, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 270px;
}
/* line 14, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 21, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background: #2a3e6d;
  opacity: .2;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 33, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a div {
  width: initial;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}
/* line 40, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a div p {
  margin-top: 81px;
  margin-top: 5.8rem;
  padding-top: 20px;
  padding-top: 1.45rem;
  padding-bottom: 20px;
  padding-bottom: 1.45rem;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 1;
}
@media (max-width: 600px) {
  /* line 40, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li a div p {
    margin-top: 10px;
    margin-top: 0.725rem;
  }
}
/* line 52, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a div:after {
  content: '';
  position: absolute;
  background: rgba(30, 30, 30, 0.4);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
@media (max-width: 550px) {
  /* line 33, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li a div {
    width: 100%;
    right: 0;
  }
}
/* line 68, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li a:hover:after {
  opacity: 0;
}
/* line 74, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(even) a {
  color: whitesmoke;
}
/* line 76, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(even) a:hover, .menu-slides > ul > li:nth-child(even) a:active, .menu-slides > ul > li:nth-child(even) a:focus {
  color: whitesmoke;
}
/* line 77, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(even) a:before {
  background: rgba(30, 30, 30, 0.5);
}
/* line 81, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(odd) a {
  color: #2a3e6d;
}
/* line 83, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(odd) a:hover, .menu-slides > ul > li:nth-child(odd) a:active, .menu-slides > ul > li:nth-child(odd) a:focus {
  color: #2a3e6d;
}
/* line 84, ../scss/gunsstyle/_menu_slides.scss */
.menu-slides > ul > li:nth-child(odd) a:before {
  background: rgba(245, 245, 245, 0.5);
}
@media (max-width: 900px) and (max-height: 1024px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    width: calc(50% - 5px);
    height: calc((100vw - 30px) / 4);
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
  /* line 90, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:nth-child(odd) {
    margin-right: 10px;
  }
  /* line 91, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:nth-child(even) {
    margin-right: 0;
  }
  /* line 95, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li a div p {
    margin-top: 20px;
    margin-top: 1.45rem;
  }
}
@media (max-width: 1024px) and (min-height: 1025px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    width: calc(50% - 5px);
    height: calc((100vw - 30px) / 4);
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
  /* line 104, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:nth-child(odd) {
    margin-right: 10px;
  }
  /* line 105, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:nth-child(even) {
    margin-right: 0;
  }
  /* line 109, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li a div p {
    margin-top: 20px;
    margin-top: 1.45rem;
  }
}
@media (max-width: 525px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    width: 100%;
    height: 120px;
    margin: 0;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
  /* line 121, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:last-child {
    margin-bottom: 0;
  }
  /* line 126, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li a div p {
    margin-top: 5px;
    margin-top: 0.3625rem;
  }
}
@media (min-width: 900px) and (max-height: 1024px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    width: calc((100% - 30px) / 4);
    margin-right: 10px;
  }
  /* line 135, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1025px) and (min-height: 1025px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    width: calc((100% - 30px) / 4);
    margin-right: 10px;
  }
  /* line 140, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 900px) and (max-height: 1024px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    height: 20vw;
  }
}
@media (min-width: 1025px) and (max-width: 1347px) and (min-height: 1025px) {
  /* line 9, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides > ul > li {
    height: 20vw;
  }
}
@media (max-width: 767px) {
  /* line 1, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides {
    margin-top: 10px;
    margin-top: 0.725rem;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 1, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides {
    margin-top: 5px;
    margin-top: 0.3625rem;
    margin-bottom: 5px;
    margin-bottom: 0.3625rem;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../scss/gunsstyle/_menu_slides.scss */
  .menu-slides {
    margin-top: 10px;
    margin-top: 0.725rem;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
}
