@charset "UTF-8";
/* line 1, ../scss/gunsstyle/_menu_top.scss */
.header {
  position: relative;
  z-index: 4;
}
/* line 4, ../scss/gunsstyle/_menu_top.scss */
.header:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  display: inline-block;
  height: 0;
  width: 100%;
  padding-bottom: 99px;
  padding-bottom: 7.105rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#5877bf), to(#354f8a));
  border-bottom: 2px solid whitesmoke;
  -moz-box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
  -webkit-box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
  box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
}
/* line 18, ../scss/gunsstyle/_menu_top.scss */
.header > a {
  width: 16.6666%;
  text-align: center;
  color: #2a3e6d;
  text-decoration: none;
  font-size: 119px;
  font-size: 8.489rem;
  line-height: 120px;
  line-height: 8.59643rem;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 25, ../scss/gunsstyle/_menu_top.scss */
.header > a i {
  width: 70%;
  background: url("/verstka/include_files/images/logo/l_blue.png") no-repeat;
  background-size: contain;
  vertical-align: top;
  display: inline-block;
  height: 0;
  padding-bottom: 102px;
  padding-bottom: 7.25rem;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 34, ../scss/gunsstyle/_menu_top.scss */
.header > a i:before {
  content: unset;
}
/* line 38, ../scss/gunsstyle/_menu_top.scss */
.header > a:hover {
  text-decoration: none;
  color: #d4534a;
}
/* line 41, ../scss/gunsstyle/_menu_top.scss */
.header > a:hover i {
  background: url("/verstka/include_files/images/logo/l_orange.png") no-repeat;
  background-size: contain;
}
/* line 47, ../scss/gunsstyle/_menu_top.scss */
.header > div {
  width: 83.3333%;
}
/* line 53, ../scss/gunsstyle/_menu_top.scss */
.header > * {
  margin-top: 20px;
  margin-top: 1.45rem;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
}
/* line 60, ../scss/gunsstyle/_menu_top.scss */
.header__search {
  text-align: right;
  margin-bottom: 6px;
  margin-bottom: 0.435rem;
}
/* line 63, ../scss/gunsstyle/_menu_top.scss */
.header__search form {
  width: 30%;
  display: inline-block;
  margin: 0 10px 0 0;
  white-space: nowrap;
}
/* line 68, ../scss/gunsstyle/_menu_top.scss */
.header__search form input[type="text"] {
  width: calc(100% - 40px);
}
/* line 69, ../scss/gunsstyle/_menu_top.scss */
.header__search form .btn {
  border: 1px solid #919191;
  border-left: 0;
}
/* line 76, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 80, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item a {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  padding-top: 0.58rem;
  padding-bottom: 8px;
  padding-bottom: 0.58rem;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: whitesmoke;
  font-family: RobotoRegular;
}
/* line 90, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item a:hover {
  color: #d4534a;
}
/* line 93, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.with-sub > a {
  padding-right: 20px;
  position: relative;
}
/* line 96, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.with-sub > a:after {
  font-family: icomoon;
  font-size: 14px;
  padding-top: 8px;
  padding-top: 0.58rem;
  padding-bottom: 8px;
  padding-bottom: 0.58rem;
  content: '\f105';
  position: absolute;
  right: 8px;
  top: 2px;
  line-height: inherit;
}
/* line 109, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.with-sub.open > a:after {
  content: '\f107';
}
/* line 114, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.open > a {
  color: #d4534a;
  background: #2a3e6d;
}
/* line 115, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.open > .header__menu__item-sublist {
  display: block;
}
/* line 117, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist {
  display: none;
  position: absolute;
  top: 39px;
  z-index: 4;
  left: 0;
}
/* line 124, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div a {
  width: 100%;
  min-width: 200px;
  background: whitesmoke;
  color: #2a3e6d;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-top: 0.58rem;
  padding-bottom: 8px;
  padding-bottom: 0.58rem;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  border-bottom: 1px solid #2a3e6d;
}
/* line 137, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.with-sub > a {
  position: relative;
  padding-right: 20px;
}
/* line 140, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.with-sub > a:after {
  font-family: 'icomoon';
  font-size: 14px;
  padding-top: 8px;
  padding-top: 0.58rem;
  padding-bottom: 8px;
  padding-bottom: 0.58rem;
  content: '\f105';
  position: absolute;
  right: 8px;
  top: 0;
  line-height: inherit;
}
/* line 152, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open {
  position: relative;
}
/* line 154, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open > a {
  color: #d4534a;
  background: #2a3e6d;
  border-bottom: 1px solid #d4534a;
}
/* line 155, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open > div {
  display: block;
  position: absolute;
  left: 100%;
  z-index: 2;
  top: 0;
}
/* line 162, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open > div a:hover {
  color: #d4534a;
  background: #2a3e6d;
  border-bottom: 1px solid #d4534a;
}
/* line 163, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open > div a:last-child {
  border-bottom: 0;
}
/* line 165, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div.open > div a:last-child:hover {
  border-bottom: 0;
}
/* line 171, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div:last-child > a {
  border-bottom: 0;
}
/* line 172, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item-sublist > div:last-child:hover .header__menu__item-sublist > div:last-child > a {
  border-bottom: 0;
}
/* line 176, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.auth {
  float: right;
}
/* line 177, ../scss/gunsstyle/_menu_top.scss */
.header__menu__item.reg {
  float: right;
}
@media (max-width: 800px) {
  /* line 1, ../scss/gunsstyle/_menu_top.scss */
  .header {
    margin-bottom: 20px;
    margin-bottom: 1.45rem;
    z-index: 5;
  }
  /* line 183, ../scss/gunsstyle/_menu_top.scss */
  .header:before {
    padding-bottom: 0px;
    padding-bottom: 0rem;
  }
  /* line 186, ../scss/gunsstyle/_menu_top.scss */
  .header > * {
    margin-top: 0px;
    margin-top: 0rem;
  }
  /* line 189, ../scss/gunsstyle/_menu_top.scss */
  .header > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: -webkit-gradient(linear, left top, left bottom, from(#5877bf), to(#354f8a));
    border-bottom: 2px solid whitesmoke;
    -moz-box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
    -webkit-box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
    box-shadow: 0 3px 4px rgba(30, 30, 30, 0.3);
  }
  /* line 197, ../scss/gunsstyle/_menu_top.scss */
  .header > a {
    display: none;
  }
  /* line 200, ../scss/gunsstyle/_menu_top.scss */
  .header__search {
    display: inline-block;
    order: 1;
    margin-bottom: 0;
  }
  /* line 204, ../scss/gunsstyle/_menu_top.scss */
  .header__search form {
    width: auto;
    margin: 5px 10px;
  }
  /* line 209, ../scss/gunsstyle/_menu_top.scss */
  .header__menu {
    display: none;
  }
  @keyframes menu-by-left {
    0% {
      opacity: .1;
      left: -80%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  /* line 215, ../scss/gunsstyle/_menu_top.scss */
  .header__menu.open {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    position: absolute;
    width: 320px;
    max-width: 100%;
    top: 46px;
    left: 0;
    background: whitesmoke;
    z-index: 6;
    animation: 0.3s menu-by-left ease-in-out;
  }
  /* line 228, ../scss/gunsstyle/_menu_top.scss */
  .header__menu-toggle {
    order: 0;
    padding: 5px 0;
    width: 40px;
    height: 44px;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  /* line 237, ../scss/gunsstyle/_menu_top.scss */
  .header__menu-toggle i {
    position: relative;
    font-size: 22px;
    display: block;
    height: 100%;
  }
  /* line 242, ../scss/gunsstyle/_menu_top.scss */
  .header__menu-toggle i:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    content: 'МЕНЮ';
    font-size: 10px;
    vertical-align: top;
    font-family: RobotoRegular;
  }
  /* line 255, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item {
    display: block;
    order: 0;
  }
  /* line 257, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item > a {
    color: #2a3e6d;
    width: 100%;
    font-size: 16px;
    font-family: RobotoBold;
  }
  /* line 264, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item.reg {
    float: none;
    order: 2;
  }
  /* line 268, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item.auth {
    float: none;
    order: 1;
  }
  /* line 272, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist {
    width: 100%;
    position: relative;
    top: 0;
  }
  /* line 277, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > a:first-child {
    -moz-box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
    -webkit-box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
    box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
  }
  /* line 279, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > a:first-child.open {
    -moz-box-shadow: inset 0 2px 4px rgba(245, 245, 245, 0.7);
    -webkit-box-shadow: inset 0 2px 4px rgba(245, 245, 245, 0.7);
    box-shadow: inset 0 2px 4px rgba(245, 245, 245, 0.7);
  }
  /* line 283, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > a:last-child {
    -moz-box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
    -webkit-box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
    box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
  }
  /* line 285, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > a:last-child.open {
    -moz-box-shadow: inset 0 -2px 4px rgba(245, 245, 245, 0.7);
    -webkit-box-shadow: inset 0 -2px 4px rgba(245, 245, 245, 0.7);
    box-shadow: inset 0 -2px 4px rgba(245, 245, 245, 0.7);
  }
  /* line 291, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > .with-sub > a {
    white-space: normal;
  }
  /* line 296, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > .with-sub.open > a:after {
    content: '\f107';
  }
  /* line 300, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > .with-sub.open > div {
    position: relative;
    left: 0;
    top: 0;
  }
  /* line 307, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > .with-sub:first-child > a {
    -moz-box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
    -webkit-box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
    box-shadow: inset 0 2px 4px rgba(30, 30, 30, 0.7);
  }
  /* line 312, ../scss/gunsstyle/_menu_top.scss */
  .header__menu__item-sublist > .with-sub:last-child > a {
    -moz-box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
    -webkit-box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
    box-shadow: inset 0 -2px 4px rgba(30, 30, 30, 0.7);
  }
}
@media (min-width: 801px) {
  /* line 323, ../scss/gunsstyle/_menu_top.scss */
  .header__menu-toggle {
    display: none;
  }
}
