/* line 4, ../scss/portal.scss */
.container__sections__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
}
/* line 10, ../scss/portal.scss */
.container__sections__item > a {
  text-decoration: none;
  display: block;
}
/* line 13, ../scss/portal.scss */
.container__sections__item > a .img {
  width: 100%;
  position: relative;
  z-index: 1;
}
/* line 17, ../scss/portal.scss */
.container__sections__item > a .img img {
  width: 100%;
  vertical-align: top;
  display: inline-block;
}
/* line 21, ../scss/portal.scss */
.container__sections__item > a .img img ~ img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
/* line 34, ../scss/portal.scss */
.container__sections__item > a:hover .img img ~ img {
  opacity: 1;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 42, ../scss/portal.scss */
.container__sections__item > ul {
  margin-bottom: 10px;
  margin-bottom: 0.725rem;
}
/* line 45, ../scss/portal.scss */
.container__sections__item > ul li a {
  font-size: 14px;
  font-size: 1rem;
  line-height: 20px;
  line-height: 1.45rem;
  text-decoration: none;
  position: relative;
}
/* line 53, ../scss/portal.scss */
.container__sections__item > p:first-child {
  text-align: center;
  padding-top: 20px;
  padding-top: 1.45rem;
  font-size: 25px;
  font-size: 1.777rem;
  line-height: 41px;
  line-height: 2.9rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 60, ../scss/portal.scss */
.container__sections__item > p:last-child {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 11px;
  font-size: 0.75rem;
  line-height: 10px;
  line-height: 0.725rem;
  margin-bottom: 20px;
  margin-bottom: 1.45rem;
}
@media (max-width: 660px) {
  /* line 60, ../scss/portal.scss */
  .container__sections__item > p:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 660px) {
  /* line 4, ../scss/portal.scss */
  .container__sections__item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
  }
  /* line 76, ../scss/portal.scss */
  .container__sections__item > a {
    display: inline-block;
    width: 95px;
    vertical-align: top;
    order: 0;
  }
  /* line 83, ../scss/portal.scss */
  .container__sections__item > p:not(:last-child) {
    display: inline-block;
    text-align: left;
    width: calc(100% - 95px);
    padding-left: 10px;
    vertical-align: top;
    padding-top: 20px;
    padding-top: 1.45rem;
    font-size: 19px;
    font-size: 1.333rem;
    line-height: 20px;
    line-height: 1.45rem;
    order: 1;
  }
  /* line 93, ../scss/portal.scss */
  .container__sections__item > p:last-child {
    order: 3;
  }
  /* line 97, ../scss/portal.scss */
  .container__sections__item ul {
    order: 2;
    column-count: 3;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
    padding-bottom: 10px;
    padding-bottom: 0.725rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.3);
  }
  /* line 107, ../scss/portal.scss */
  .container__sections__item ul li a {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 111, ../scss/portal.scss */
  .container__sections__item ul li a span {
    display: inline;
    border-bottom: 1px solid whitesmoke;
  }
  /* line 119, ../scss/portal.scss */
  .container__sections__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 550px) {
  /* line 124, ../scss/portal.scss */
  .container__sections__item ul {
    column-count: 2;
  }
}
@media (max-width: 360px) {
  /* line 129, ../scss/portal.scss */
  .container__sections__item ul {
    column-count: 1;
  }
  /* line 133, ../scss/portal.scss */
  .container__sections__item > p:not(:last-child) {
    padding-top: 20px;
    padding-top: 1.45rem;
    font-size: 19px;
    font-size: 1.333rem;
    line-height: 20px;
    line-height: 1.45rem;
  }
}
/* line 140, ../scss/portal.scss */
.container__sections-three {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-bottom: 1.45rem;
}
@media (max-width: 660px) {
  /* line 140, ../scss/portal.scss */
  .container__sections-three {
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 153, ../scss/portal.scss */
.container__sections-three > .container__sections__item ul li a {
  color: whitesmoke;
}
@media (min-width: 661px) {
  /* line 150, ../scss/portal.scss */
  .container__sections-three > .container__sections__item {
    width: calc((100% - 20px)/3);
  }
  /* line 161, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li {
    text-align: left;
    display: block;
  }
  /* line 164, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (min-width: 661px) and (min-width: 768px) {
  /* line 164, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a {
    padding-left: 55px;
    padding-right: 20px;
  }
  /* line 172, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a:before, .container__sections-three > .container__sections__item ul li a:after {
    position: absolute;
    content: '';
    z-index: 2;
    left: 30px;
    background: #1e1e1e;
  }
  /* line 173, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a:before {
    top: -110%;
    width: 1px;
    height: 155%;
    z-index: 4;
  }
  /* line 174, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a:after {
    height: 1px;
    width: 20px;
    top: 40%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* line 175, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a:hover {
    color: #d4534a;
  }
  /* line 175, ../scss/portal.scss */
  .container__sections-three > .container__sections__item ul li a:hover:after {
    background: whitesmoke;
  }
}

/* line 181, ../scss/portal.scss */
.container__sections-three > .container__sections__item > p:first-child {
  color: whitesmoke;
}
@media (min-width: 768px) {
  /* line 184, ../scss/portal.scss */
  .container__sections-three > .container__sections__item .img:before, .container__sections-three > .container__sections__item .img:after {
    position: absolute;
    content: '';
    z-index: 2;
    top: calc(50% - 5px);
    left: 30px;
    background: #1e1e1e;
  }
  /* line 192, ../scss/portal.scss */
  .container__sections-three > .container__sections__item .img:before {
    width: 40%;
    height: 1px;
  }
  /* line 193, ../scss/portal.scss */
  .container__sections-three > .container__sections__item .img:after {
    width: 1px;
    height: 50%;
  }
}
/* line 196, ../scss/portal.scss */
.container__sections-three > .container__sections__item p {
  color: whitesmoke;
}
/* line 199, ../scss/portal.scss */
.container__sections-half {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-bottom: 1.45rem;
}
@media (max-width: 660px) {
  /* line 199, ../scss/portal.scss */
  .container__sections-half {
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 661px) {
  /* line 209, ../scss/portal.scss */
  .container__sections-half > .container__sections__item {
    width: calc(50% - 10px);
  }
  /* line 212, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > a {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 216, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > a .img {
    position: relative;
  }
}
@media (min-width: 661px) and (min-width: 768px) {
  /* line 219, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > a .img:after {
    position: absolute;
    content: '';
    background: #1e1e1e;
    height: 1px;
    width: 50%;
    top: calc(50% - 4px);
    left: 50%;
    z-index: 2;
  }
}
@media (min-width: 661px) {
  /* line 232, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul {
    width: 50%;
    margin-top: 71px;
    margin-top: 5.075rem;
    display: inline-block;
    vertical-align: top;
  }
}
@media (min-width: 661px) and (max-width: 850px) {
  /* line 232, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul {
    margin-top: 30px;
    margin-top: 2.175rem;
  }
}
@media (min-width: 661px) {
  /* line 240, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li {
    display: block;
    line-height: initial;
  }
  /* line 243, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li:first-child {
    margin-top: 1px;
  }
  /* line 244, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li a {
    display: inline-block;
    font-size: 14px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.45rem;
    padding-left: 30px;
    text-decoration: none;
    position: relative;
  }
  /* line 250, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li a:before, .container__sections-half > .container__sections__item > ul li a:after {
    position: absolute;
    content: '';
    z-index: 1;
    background: #1e1e1e;
  }
}
@media (min-width: 661px) and (min-width: 768px) {
  /* line 257, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li a:before {
    width: 1px;
    height: calc(100% + 1px);
    top: 0;
    left: 0;
    z-index: 4;
  }
  /* line 258, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li a:after {
    height: 1px;
    width: 25px;
    left: 0;
    top: calc(50% - 2px);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  /* line 260, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li a:hover:after {
    background: whitesmoke;
  }
}
@media (min-width: 661px) and (min-width: 768px) {
  /* line 267, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li:first-child a:before {
    top: calc(50% - 2px);
  }
}
@media (min-width: 661px) and (min-width: 768px) {
  /* line 274, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > ul li:last-child a:before {
    top: calc(-50% - 2px);
  }
}
@media (min-width: 661px) {
  /* line 281, ../scss/portal.scss */
  .container__sections-half > .container__sections__item > p:last-child {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 288, ../scss/portal.scss */
.container__sections-half > .container__sections__item:first-child > p {
  color: whitesmoke;
}
/* line 289, ../scss/portal.scss */
.container__sections-half > .container__sections__item:first-child > ul li a {
  color: whitesmoke;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 289, ../scss/portal.scss */
.container__sections-half > .container__sections__item:first-child > ul li a:hover {
  color: #d4534a;
}
/* line 292, ../scss/portal.scss */
.container__sections-half > .container__sections__item:last-child > p {
  color: #919191;
}
@media (max-width: 660px) {
  /* line 293, ../scss/portal.scss */
  .container__sections-half > .container__sections__item:last-child > ul {
    border-bottom: 1px solid rgba(145, 145, 145, 0.3);
  }
}
/* line 298, ../scss/portal.scss */
.container__sections-half > .container__sections__item:last-child > ul li a {
  color: #919191;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 299, ../scss/portal.scss */
.container__sections-half > .container__sections__item:last-child > ul li a:hover {
  color: #d4534a;
}
/* line 301, ../scss/portal.scss */
.container__sections-half > .container__sections__item:last-child > ul li a:hover:after {
  background: #d4534a;
}
@media (max-width: 660px) {
  /* line 304, ../scss/portal.scss */
  .container__sections-half > .container__sections__item:last-child > ul li a span {
    border-bottom: 1px solid #919191;
  }
}
