@keyframes slide-by-prev {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-by-next {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* line 10, ../scss/gunsstyle/_slider.scss */
.slider {
  display: inline-block;
}
/* line 13, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child {
  height: calc(100vh - 26px - 270px - 1.45rem * 3.5);
  min-height: 250px;
  max-height: 350px;
  width: 100%;
  padding: 0;
  position: relative;
}
/* line 20, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div {
  width: 100%;
  display: none;
  height: 100%;
  overflow: hidden;
}
/* line 25, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div > a {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 31, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div > a > img {
  min-width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
/* line 37, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div > a > p {
  position: absolute;
  height: 40px;
  vertical-align: middle;
  bottom: -40px;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  color: whitesmoke;
  font-size: 25px;
  font-size: 1.777rem;
  line-height: 28px;
  line-height: 1.96786rem;
}
/* line 49, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div > a:hover p {
  bottom: 0;
}
/* line 54, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.current {
  display: block;
}
/* line 55, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.bprev, .slider > div:first-child > div.bnext {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
/* line 61, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.bprev {
  display: block;
}
/* line 63, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.bprev img {
  animation: .3s slide-by-prev ease-in-out;
}
/* line 65, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.bnext {
  display: block;
}
/* line 67, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > div.bnext img {
  animation: .3s slide-by-next ease-in-out;
}
/* line 70, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a {
  position: absolute;
  padding: 10px 20px;
  z-index: 2;
  top: calc((100% - 35px) / 2);
  color: #1e1e1e;
  font-size: 14px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1.13929rem;
  background: whitesmoke;
  text-transform: capitalize;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 81, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a.nav-next {
  right: 0;
  -webkit-box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
  -moz-box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
  box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
}
/* line 82, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a.nav-prev {
  left: 0;
  -webkit-box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
  -moz-box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
  box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
}
/* line 83, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a:hover {
  background: #e8e8e8;
}
/* line 87, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a:active.nav-prev {
  -webkit-box-shadow: inset 3px 0 3px rgba(30, 30, 30, 0.5);
  -moz-box-shadow: inset 3px 0 3px rgba(30, 30, 30, 0.5);
  box-shadow: inset 3px 0 3px rgba(30, 30, 30, 0.5);
}
/* line 90, ../scss/gunsstyle/_slider.scss */
.slider > div:first-child > a:active.nav-next {
  -webkit-box-shadow: inset -3px 0 3px rgba(30, 30, 30, 0.5);
  -moz-box-shadow: inset -3px 0 3px rgba(30, 30, 30, 0.5);
  box-shadow: inset -3px 0 3px rgba(30, 30, 30, 0.5);
}
/* line 96, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child {
  width: 100%;
  padding: 0;
}
/* line 99, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a {
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ababab;
  margin: 0 10px 0 0;
  vertical-align: middle;
  position: relative;
}
/* line 108, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a:active:not(.current) {
  -moz-box-shadow: inset 0 2px 2px rgba(145, 145, 145, 0.7);
  -webkit-box-shadow: inset 0 2px 2px rgba(145, 145, 145, 0.7);
  box-shadow: inset 0 2px 2px rgba(145, 145, 145, 0.7);
}
/* line 111, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a.current {
  background: #2a3e6d;
}
/* line 114, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a .fimage {
  position: absolute;
  height: 50px;
  width: 100px;
  top: -55px;
  left: 0;
  z-index: 3;
  background: whitesmoke;
  border: 1px solid #919191;
  padding: 3px;
}
/* line 124, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a .fimage img {
  width: 100%;
  height: 100%;
}
/* line 128, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a .fimage:after, .slider > div:last-child a .fimage:before {
  position: absolute;
  content: '';
  left: 2px;
  bottom: -10px;
  border: 5px solid transparent;
  border-top: 5px solid #919191;
}
/* line 136, ../scss/gunsstyle/_slider.scss */
.slider > div:last-child a .fimage:after {
  border-top: 5px solid whitesmoke;
  bottom: -9px;
}

@media (max-width: 1347px) {
  /* line 148, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child {
    height: calc(100vh - 26px - 20vw - 1.45rem * 3.5);
  }
}
@media (max-width: 1023px) {
  /* line 155, ../scss/gunsstyle/_slider.scss */
  .slider {
    margin-top: 10px;
    margin-top: 0.725rem;
    margin-bottom: 10px;
    margin-bottom: 0.725rem;
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  /* line 166, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div {
    height: 100%;
  }
  /* line 168, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div > a {
    padding-bottom: 40px;
  }
  /* line 170, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div > a > img {
    height: 100%;
    width: 100%;
  }
  /* line 174, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div > a > p {
    font-size: 11px;
    display: block;
    background: #1e1e1e;
    bottom: 0;
    font-size: 12px;
  }
  /* line 180, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div.bprev > a > p {
    animation: .3s slide-by-prev ease-in-out;
  }
  /* line 185, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div.bnext > a > p {
    animation: .3s slide-by-next ease-in-out;
  }
}
@media (max-width: 525px) {
  /* line 194, ../scss/gunsstyle/_slider.scss */
  .slider {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  /* line 199, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child {
    min-height: unset;
    height: 264px;
  }
  /* line 202, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a {
    padding: 5px 10px;
    font-size: 12px;
    background: transparent;
  }
  /* line 206, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a.nav-prev, .slider > div:first-child > a.nav-next {
    -webkit-box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
    -moz-box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
    box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
  }
  /* line 209, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a.nav-prev:active, .slider > div:first-child > a.nav-next:active {
    -webkit-box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
    -moz-box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
    box-shadow: 3px 0 3px rgba(30, 30, 30, 0);
  }
  /* line 211, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a > span {
    position: relative;
    z-index: 2;
  }
  /* line 215, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a:before, .slider > div:first-child > a:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
  }
  /* line 222, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a:before {
    z-index: 0;
    background: rgba(30, 30, 30, 0.5);
    height: 224px;
    top: calc(50% - 127px);
  }
  /* line 228, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a:after {
    background: rgba(245, 245, 245, 0.6);
    height: 100%;
    top: 0;
    z-index: 1;
  }
  /* line 235, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a.nav-prev:after {
    -webkit-box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
    -moz-box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
    box-shadow: 3px 0 3px rgba(30, 30, 30, 0.5);
  }
  /* line 238, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > a.nav-next:after {
    -webkit-box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
    -moz-box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
    box-shadow: -3px 0 3px rgba(30, 30, 30, 0.5);
  }
  /* line 242, ../scss/gunsstyle/_slider.scss */
  .slider > div:last-child {
    display: none;
  }
}
@media (min-width: 526px) {
  /* line 253, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div > a > p {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (min-width: 769px) {
  /* line 268, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child > div > a > p {
    background: rgba(30, 30, 30, 0.5);
  }
}
@media (min-width: 1024px) {
  /* line 278, ../scss/gunsstyle/_slider.scss */
  .slider {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    margin-top: 0.725rem;
    width: calc(75% - 10px);
    padding: 0;
  }
}
@media (min-width: 1348px) {
  /* line 288, ../scss/gunsstyle/_slider.scss */
  .slider > div:first-child {
    height: calc(100vh - 26px - 270px - 1.45rem * 3.5);
  }

  /* line 293, ../scss/gunsstyle/_slider.scss */
  .menu-slides {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
}
