@import "config";
@import "compass/reset";

@import "fonts";
body {
  margin: 0;
  padding: 0;
  color: $cblack;
  min-height: 100vh;
  // @include debug-vertical-alignment;
}
* {
  @include box-sizing(border-box);
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  body {
    font-family: RobotoRegular;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
h1 {
  @include adjust-font-size-to($h1);
}
h2 {
  @include adjust-font-size-to($h2);
}
h3 {
  @include adjust-font-size-to($h3);
}
h4 {
  @include adjust-font-size-to($h4);
}
h5 {
  @include adjust-font-size-to($h5);
}
h6 {
  @include adjust-font-size-to($h6);
}
smal {
  @include adjust-font-size-to($small);
}
.shadow {
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($cblack, .6);
    content: '';
    top: 0;
    left: 0;
    z-index: 5;
  }
}
.hidden { display: none; }
.module {
  @include box-sizing(border-box);
  background: red;
}
.line {
  width: 100%;
}
.divider {
  width: 100%;
  height: 100%;
  background-color: $cgrey;
  @include margin-leader(1);
  @include margin-trailer(1);
}
.footer {
  @extend .line;
  text-align: center;
  margin-bottom: 0;
  background:
      radial-gradient($cblack 15%, transparent 16%) 0 0,
      radial-gradient($cblack 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba($cwhite,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba($cwhite,.1) 15%, transparent 20%) 8px 9px;
      background-color: $cblack;
      background-size: 16px 16px;
  @include padding-leader(.5);
  @include padding-trailer(.5);
  & > ul {
    margin: 0 auto;
    width: initial;
    display: inline-block;
    line-height: initial;
    & > li {
      display: inline-block;
      padding: 2px 6px 0 0;
      margin: 0 3px 0 0;
      line-height: 15px;
      vertical-align: top;
      border-right: 1px solid $cgrey;
      &:last-child {
        border-right: 0;
        padding: 2px 0 0 0;
        margin: 0 0 0 0;
      }
      a {
        color: $cgrey;
        @include transition($transition);
        &:hover {
          color: $corange;
        }
      }
    }
  }
}
.container { width: 100%; max-width: 1024px; margin: 0 auto; }
@include setColors($arColors, '.text', 'color', true);
@include setColors($arColors, '.bgd', 'background', false);

@media (max-width: 767px) {
  .footer {
    @include margin-leader(.5);
  }
}
@media (max-width: 550px) {
  .footer {
    & > ul {
      width: 100%;
      & > li {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0;
        border-right: 0;
        text-align: left;
        & > a {
          display: inline-block;
          width: 100%;
          padding: 3px 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  body {
    //@include padding-leader(.5);
  }
  .line {
    @include margin-leader(.5);
    @include margin-trailer(.25);
    &.no-mt {
      @include margin-leader(0);
    }
  }
  .footer {
    @include margin-leader(.25);
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  body {
    //@include padding-leader(1);
  }
  .line {
    max-width: $maxWidthContent;
    width: 100%;
    margin: $base-line-height auto $base-line-height * .5 auto;
    &.no-mt {
      @include margin-leader(0);
    }
  }
  .footer {
    max-width: none;
    & > ul {
      max-width: $maxWidthContent;
    }
    margin: $base-line-height * .5 auto 0 auto;
  }
}
