$cblack : rgb(30,30,30);
$cwhite : rgb(245,245,245);
$cgrey  : rgb(145,145,145);
$cgreen : rgb(92,184,92);
$cblue  : rgb(42,62,109);
$corange : rgb(212,83,74);

$arColors : (
        "white" : rgb(255,255,255),
        "black" : rgb(30,30,30),
        "blue"  : rgb(155, 155, 155)
);
