@keyframes slide-by-prev {
  0% { opacity: 0; transform: translateX(-100%); }
  100% { opacity: 1; transform: translateX(0%); }
}
@keyframes slide-by-next {
  0% { opacity: 0; transform: translateX(100%); }
  100% { opacity: 1; transform: translateX(0%); }
}

.slider {
  display: inline-block;
  & > div {
    &:first-child {
      height: calc(100vh - 26px - 270px - 1.45rem * 3.5);
      min-height: 250px;
      max-height: 350px;
      width: 100%;
      padding: 0;
      position: relative;
      & > div {
        width: 100%;
        display: none;
        height: 100%;
        overflow: hidden;
        & > a {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          display: block;
          & > img {
            min-width: 100%;
            height: 100%;
            @include object-position(center);
            @include object-fit(cover);
          }
          & > p {
            position: absolute;
            height: 40px;
            vertical-align: middle;
            bottom: -40px;
            left: 0;
            width: 100%;
            padding: 5px 10px;
            color: $cwhite;
            @include adjust-font-size-to($h3);
          }
          &:hover {
            p {
              bottom: 0;
            }
          }
        }
        &.current { display: block; }
        &.bprev, &.bnext {
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
        }
        &.bprev {
          display: block;
          img { animation: .3s slide-by-prev ease-in-out; }
        }
        &.bnext {
          display: block;
          img { animation: .3s slide-by-next ease-in-out; }
        }
      }
      & > a {
        position: absolute;
        padding: 10px 20px;
        z-index: 2;
        top: calc((100% - 35px) / 2);
        color: $cblack;
        @include adjust-font-size-to($h5);
        background: $cwhite;
        text-transform: capitalize;
        text-decoration: none;
        @include transition($transition);
        &.nav-next { right: 0; @include bshadow(3px 0 3px rgba($cblack, .5)); }
        &.nav-prev { left: 0; @include bshadow(-3px 0 3px rgba($cblack, .5)); }
        &:hover {
          background: darken($cwhite, 5);
        }
        &:active {
          &.nav-prev {
            @include bshadow(inset 3px 0 3px rgba($cblack, .5));
          }
          &.nav-next {
            @include bshadow(inset -3px 0 3px rgba($cblack, .5));
          }
        }
      }
    }
    &:last-child {
      width: 100%;
      padding: 0;
      a {
        display: inline-block;
        width: 15px;
        height: 15px;
        @include border-radius(10px);
        background: lighten($cgrey, 10);
        margin: 0 10px 0 0;
        vertical-align: middle;
        position: relative;
        &:active:not(.current) {
          @include box-shadow(inset 0 2px 2px rgba($cgrey, .7));
        }
        &.current {
          background: $cblue;
        }
        .fimage {
          position: absolute;
          height: 50px;
          width: 100px;
          top: -55px;
          left: 0;
          z-index: 3;
          background: $cwhite;
          border: 1px solid $cgrey;
          padding: 3px;
          img {
            width: 100%;
            height: 100%;
          }
          &:after, &:before {
            position: absolute;
            content: '';
            left: 2px;
            bottom: -10px;
            border: 5px solid transparent;
            border-top: 5px solid $cgrey;
          }
          &:after {
            border-top: 5px solid $cwhite;
            bottom: -9px;
          }
        }
      }
    }
  }
}
@media (max-width: 1347px) {
  .slider {
    & > div {
      &:first-child {
        height: calc(100vh - 26px - 20vw - 1.45rem * 3.5);
      }
    }
  }
}
@media (max-width: 1023px) {
  .slider {
    @include margin-leader(.5);
    @include margin-trailer(.5);
    margin-left: 10px;
    width: calc(100% - 20px);
  }
}
@media (max-width: 768px) {
  .slider {
    & > div {
      &:first-child {
        & > div {
          height: 100%;
          & > a {
            padding-bottom: 40px;
            & > img {
              height: 100%;
              width: 100%;
            }
            & > p {
             font-size: 11px; display: block; background: $cblack; bottom: 0; font-size: 12px;
            }
          }
          &.bprev {
            & > a {
              & > p { animation: .3s slide-by-prev ease-in-out; }
            }
          }
          &.bnext {
            & > a {
              & > p { animation: .3s slide-by-next ease-in-out; }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 525px) {
  .slider {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    & > div {
      &:first-child {
        min-height: unset;
        height: 264px;
        & > a {
          padding: 5px 10px;
          font-size: 12px;
          background: transparent;
          &.nav-prev,
          &.nav-next {
            @include bshadow(3px 0 3px rgba($cblack, 0));
            &:active { @include bshadow(3px 0 3px rgba($cblack, 0)); }
          }
          & > span {
            position: relative;
            z-index: 2;
          }
          &:before,
          &:after {
            position: absolute;
            content: '';
            width: 100%;
            left: 0;
          }
          &:before {
            z-index: 0;
            background: rgba($cblack,.5);
            height: 224px;
            top: calc(50% - 127px);
          }
          &:after {
            background: rgba($cwhite, .6);
            height: 100%;
            top: 0;
            z-index: 1;
          }
          &.nav-prev {
            &:after { @include bshadow(3px 0 3px rgba($cblack, .5)); }
          }
          &.nav-next {
            &:after { @include bshadow(-3px 0 3px rgba($cblack, .5)); }
          }
        }
      }
      &:last-child { display: none; }
    }
  }
}

@media (min-width: 526px) {
  .slider {
    & > div {
      &:first-child {
        & > div {
          & > a {
            & > p {
              @include transition($transition);
            }
          }
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .slider {
    & > div {
      &:first-child {
        & > div {
          & > a {
            & > p {
              background: rgba($cblack, .5);
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .slider {
    @include box-sizing(border-box);
    @include margin-leader(.5);
    width: calc(75% - 10px);
    padding: 0;
  }
}
@media (min-width: 1348px) {
  .slider {
    & > div {
      &:first-child {
        height: calc(100vh - 26px - 270px - 1.45rem * 3.5);
      }
    }
  }
  .menu-slides {
    max-width: $maxWidthContent;
    width: 100%;
    margin: 0 auto;
  }
}
